.App {
  font-family: 'Quicksand';
  position: relative;
  min-height: 100vh;
  background: #f12711;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f5af19, #f12711);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.div2 {
  display: inline;
  white-space: nowrap;
}

.title-text {
  display: inline;
  white-space: nowrap;
}

.div3 {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  position: relative;
}

.fact {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 5%;
}

.copy-button {
  margin-top: auto;
  margin: 0 auto;
  display: block;
  width: 30%;
  font-size: 1.3rem;
}

.fact-div {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  border-style: solid;
  border-width: 3px;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.outer-fact-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.fact-button {
  margin: 0 auto;
  display: block;
  margin-top: 5%;
}

.dropdown {
  margin: 0 auto;
  display: block;
  width: 30%;
  font-size: 1.5rem;
}

.fact-button {
  font-size: 1.5rem;
}